DB_HOST=postgress_db_host
DB_PORT=postgress_db_port
DB_NAME=postgress_db_name
DB_USER=postgress_db_user
DB_PASS=postgress_password
SMTP_HOST=smtp-relay
SMTP_PORT=smptp_port
SMTP_USER=smptp_user
SMTP_PASS=smtp_password
SMTP_FROM=smtp_domain
